@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Header Styles */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-list ul{
    display: flex;

}

.header-nav-list ul li{
    position: relative;
    list-style-type: none;
    padding: 0 10px;
}

.header-nav-list ul a{
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.header-nav-list ul a:hover,
.header-nav-list ul a.active{
    color: #088178;
    content: "";
}

.header-list-icon a{
    padding: 0 20px;
    transition: 0.3s ease;
    color: #1a1a1a;
}


.header-list-icon a:hover,
.header-nav-list ul a.active{
    color: #088178;
}

.header-nav-list ul li:hover::after,
.header-nav-list ul li a.active::after{
    position: absolute;
    content: "";
    width: 40%;
    height: 3px;
    background: #088178;
    left: 9px;
    bottom: -5px;
}

.header-logo img{
    width: 60px;
    height: 50px;
}

/* Main styles */

/* Hero Styles */
#hero {
    background-image: url(/images/hero4.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}

#hero h4{
    font-size: 20px;
    color: #1a1a1a;
}

#hero h2{
    font-size: 60px;
    font-weight: 700;
}

#hero h1{
    font-size: 50px;
    color: #088178;
}

#hero p{
    font-weight: 600;
    padding-bottom: 10px;
}

#hero button{
    background-image: url(/images/button.png);
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 260px;
    height: 60px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #bb7219;
}

/* feature section styles */
.feature-head{
    text-align: center;
    margin: 20px;
    font-size: 45px;
    color: #0E1428;
}
#features {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#features .f-box{
    width: 200px;
    text-align: center;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    margin: 20px 0;
    padding: 25px 15px;
    transition: box-shadow 0.3s;
}

#features .f-box:hover{
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: 0.3s ease-in;
}

#features .f-box img{
    width: 100%;
    margin-top: 10px;
}

#features .f-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    /* border: 1px solid; */
    font-size: 14px;
    border-radius: 10px;
    color: #0E1428;
    line-height: 1;
}

#features .f-box:nth-child(1) h6{
    background-color: #088178;
}
#features .f-box:nth-child(2) h6{
    background-color: #0CF574;
}
#features .f-box:nth-child(3) h6{
    background-color: #EA1744;
}
#features .f-box:nth-child(4) h6{
    background-color: #F18805;
}
#features .f-box:nth-child(5) h6{
    background-color: #F6FEAA;
}
#features .f-box:nth-child(6) h6{
    background-color: #C1DBE3;
}

/* Featured Products styles */
.product-section .pro-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 60px;
}

.product-section h1{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}

.product-section p{
    text-align: center;
    /* font-size: 50px; */
    padding-bottom: 30px;
  }

.product-section .product-cart{
    width: 280px;
    position: relative;
    border: 1px solid #088178;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    transition: box-shadow 0.3s;
}

.product-section .product-cart:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-10px);
    transition: 0.1s ease-in;
  }

.product-section .product-cart img{
    width: 100%;
    border-radius: 25px;
}

.product-section .product-cart span{
    color: #088178;
    font-weight: 400;
    line-height: 30px;
}

.product-section .product-cart h4{
    font-size: 16px;
    color: #0E1428;
}

.product-section .product-cart .stars{
    color: #F18805;
    padding: 5px 0;
}

.product-section .product-cart .price{
    color: #969696;
    font-size: 18px;
}

.product-section .product-cart .buy-icon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: #088178;
    padding: 15px;
    border-radius: 50%;
    background-color: #e9f3f2;
}

.product-section .product-cart .buy-icon:hover{
    background-color: transparent;
    transform: scale(1.2);
    transition: 0.2s ease;
}

/* Offer Banner */
#banner{
    background-image: url(images/banner/b1.jpg);
    color: #e9f3f2;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 20px;
}

#banner p{
    font-size: 30px;
    padding-bottom: 10px;
}

#banner h1{
    font-size: 45px;
    padding-bottom: 10px;
}

#banner button{
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
}

#banner button:hover{
    background-color: #0CF574;
    color: #0E1428;
}

/* Banners Styles */
#banners {
    margin: 0 150px;
}

#banners h2,
h4, span{
    color: #0E1428;
}

#banners .big-banners{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banners .big-banners div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    margin: 15px;
    padding: 25px;
    height: 300px;
    min-width: 580px;
    backdrop-filter: blur(8%);
}

#banners .big-banners button{
    margin-top: 15px;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
}

#banners .big-banners button:hover {
    background-color: #088178;
    border-color: #088178;
}

#banners .big-banners-1 {
    background-image: url(/images/banner/b17.jpg);
}

#banners .big-banners-2 {
    background-image: url(/images/banner/b16.jpg);
}

#banners .small-banners {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#banners .small-banners div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    min-width: 360px;
    margin: 15px; 
    padding: 25px;
    background-size: cover;
}

#banners .small-banners h2{
    font-size: 30px;
    color: #d1e8f2;
}

#banners .small-banners h5{
    font-weight: 400;
    color: #0CF574;
}

#banners .small-banners-1 {
    background-image: url(images/banner/b7.jpg);
  }

  #banners .small-banners-2 {
    background-image: url(images/banner/b4.jpg);
  }

  #banners .small-banners-3 {
    background-image: url(images/banner/b18.jpg);
  }

  /* Newsletter styling */
  #newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    background-image: url(images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #0E1428;
    padding: 0 75px;
    height: 200px;
}

#newsletter .newsletter-text h3 {
    color: #e9f3f2;
    font-size: 30px;
    padding-bottom: 15px;
}

#newsletter .newsletter-text h5{
    color: #C1DBE3;
    font-size: 14px;
    text-transform: capitalize;
}

#newsletter .form input {
    padding: 20px;
    border-radius: 5px 0 0 5px;
    width: 350px;
    height: 50px;
    background-color: #cce7d0;
    font-size: 17px;
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
}

#newsletter .form button {
    margin-left: 0;
    width: 120px;
    padding: 14px;
    background-color: #088178;
    color: #e3e6f3;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

#newsletter .newsletter-text h5 span {
    color: rgb(216, 182, 29);
}

/* Footer Styles */
#footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
}

#footer p, #footer a {
    color: #969696;
    text-decoration: none;
    padding: 5px 0;
}

#footer a:hover{
    color: #0E1428;
}

#footer .about a,
#footer .myaccount a {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

#footer .socials{
    transform: translateY(-20px);
}

#footer .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
  }